*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    color: white;
    background-size: cover;
    background-color: #2c353c;
    background-image: url("images/istockphoto-472909442-612x612.jpg");
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;

}

.nav-item a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px white;
    margin-right: 3px;
}
.nav-item a:hover{
    background-color:red;
    color: black !important;
}
.tm-row {display:flex;}
.tm-col-left {
    width: 50%;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
}
.tm-col-right{
    width: 50%;
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
}
.tm-content {
    max-width: 660px;
    margin-top: 70px;
  
}
.tm-content-title {font-size: 1.5rem;
    color:red;
}
hr {border-top: 1px solid white;}
.tm-content1-title{
    color:red;
}
.tm-content1{
    color: red;
}
.card-group{
    background-color: red;

}
.card-body{
    background-color: gray;
    background-size: 10em;
    
}
tm-row { display: flex; }

.tm-col-left {
    width: 50%;
    height: 100%;
    padding-left: 40px;  
    padding-right: 40px;
}

.tm-col-right {
    width: 50%;
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

.tm-content {
    max-width: 660px;
    margin-top: 50px;
    padding-right: 20px;
}

.tm-about { max: width 525px;}
.tm-content-title { font-size: 1.5rem; }
hr { border-top: 1px solid white; }

.btn {
    padding: 10px 25px;
    border-radius: 0;
}

.btn-big {
    padding: 9px 40px;
    font-size: 1.2rem;;
}

.btn-primary {
    background-color: white;
    color: black;
    border: 0;
}

.btn-primary:hover {
    background-color: #9CC;
    color: black;
}


@media (max-width: 1200px) {
    .nav-item { margin-right: 30px; }

    .tm-page-right {
        padding-left: 30px;
        padding-right: 30px;
    }
}
.tm-content { margin-top: 20px; }
.tm-site-footer { padding-top: 40px; }
.tm-col-left { width: 40%; }

.tm-col-right {
    width: 60%;
    padding-left: 100px;
    padding-right: 30px;
}
@media (max-width: 768px) {
  .tm-row { flex-direction: column; }

  .tm-col-left,
  .tm-col-right,
  .tm-bg-left,
  .tm-bg-right {
      width: 100%;
  }
}
.tm-bg { flex-direction: column; }

.tm-bg-left {
height: 200px;        
border-bottom: 50px solid rgba(0,0,0,0.5);
border-right: 0;
border-top: 0;
}

.tm-bg-right { height: calc(100% - 200px); }

.tm-bg-controls-wrapper {
margin-left: 0;
margin-top: 50px;
}

.tm-content {
max-height: none;
margin-top: 40px;
}

.tm-col-right {

padding-top: 40px;
padding-left: 30px;
}
  
  
  footer{
    color: white;
    background-color:red;
    height: 1.5em;
    margin-top:70%;
    text-align: center;
}

  